* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #012344, #023a70);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CONTAINER */
.login-container {
  width: 100%;
  max-width: 400px;
}

/* BOX */
.login-box {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.logo img {
  width: 60px;
  height: 60px;
}

.logo h2 {
  color: #012344;
}

/* SUBTITULO */
.subtitle {
  margin-bottom: 20px;
  color: #666;
}

/* INPUTS */
.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: #012344;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: 0.3s;
}

.input-group input:focus {
  border-color: #8B5E3C;
  outline: none;
}

/* BOTÃO */
button {
  width: 100%;
  padding: 12px;
  background-color: #012344;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

button:hover {
  background-color: #8B5E3C;
}